<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizapp.ip2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Splash" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AuthenticationActivity" />
        <activity android:name=".Activity.HomepageActivity"></activity>
    </application>

</manifest>