<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizapp.ip2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.Splash"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity android:name=".Activity.HomepageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:noHistory="true" />
        <activity android:name=".Activity.QuizSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SettingsActivity"
            android:noHistory="true" />
        <activity android:name=".Activity.QuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QuizEndActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddQuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DeleteQuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EditQuizActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LookupUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddAdminActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>